<!DOCTYPE html>
<head>
    <title>登录账户</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../../common/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../../common/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../../common/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="../less/templatemo_style.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        function login() {
            var temp1 = document.getElementById("InputEmail");
            var temp2 = document.getElementById("password");

            if (temp1.value == "549172594@qq.com" && temp2.value == "123") {
                alert("输入正确");
                myForm.submit();
            } else {
                alert("输入错误");
                return false;
            }
        }
    </script>

</head>
<body class="templatemo-bg-gray">
<div class="container">
    <div class="col-md-12">
        <h1 class="margin-bottom-15">登&nbsp;&nbsp;&nbsp;录</h1>
        <form class="form-horizontal templatemo-container templatemo-login-form-1 margin-bottom-30" name="myForm"
              id="myForm" role="form" action="../../analyzer/view/main.html" method="post">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="control-wrapper">
                        <label for="InputEmail" class="control-label fa-label"><i class="fa fa-user fa-2"></i></label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Email Address">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-wrapper">
                        <label for="password" class="control-label fa-label"><i class="fa fa-lock fa-2"></i></label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox control-wrapper">
                        <label>
                            <input type="checkbox" autocomplete="on"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="control-wrapper">
                        <input type="button" value="Log in" class="btn btn-info" onclick="login();"/>
                        <a href="forgot-password.html" class="text-right pull-right">Forgot password?</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-md-12">
                    <label>Login with: </label>
                    <div class="inline-block">
                        <a href="#"><i class="fa fa-facebook-square login-with"></i></a>
                        <a href="#"><i class="fa fa-twitter-square login-with"></i></a>
                        <a href="#"><i class="fa fa-google-plus-square login-with"></i></a>
                        <a href="#"><i class="fa fa-tumblr-square login-with"></i></a>
                        <a href="#"><i class="fa fa-github-square login-with"></i></a>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <a href="create-account.html" class="templatemo-create-new">Create new account <i
                    class="fa fa-arrow-circle-o-right"></i></a>
        </div>
    </div>
</div>
</body>
</html>