<!DOCTYPE HTML>
<html>
<head>
    <title>Inbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Ultra Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="../../../common/lib/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="../less/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- font-awesome icons -->
    <link href="../../../common/font/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--animate-->
    <link href="../less/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="../js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->

    <!-- js-->
    <script src="../../../common/lib/bootstrap/js/bootstrap.js"></script>
    <script src="../../../common/lib/jquery/js/jquery.min.js"></script>
    <script src="../js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='http://fonts.useso.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!-- Metis Menu -->
    <script src="../js/metisMenu.min.js"></script>
    <script src="../js/custom.js"></script>
    <link href="../less/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <!--left-fixed -navigation-->
    <div class="sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
                 id="cbp-spmenu-s1">
                <div class="scrollbar scrollbar1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="../../../index.html"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cogs nav_icon"></i>Components <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-book nav_icon"></i>Elements <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icon.html">Icon</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="widgets.html"><i class="fa fa-th-large nav_icon"></i>Widgets</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="inputs.html">Inputs</a>
                                </li>
                                <li>
                                    <a href="validation.html">Form Validation</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="inboxdetails.html">Inbox Details</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="maps.html"><i class="fa fa-location-arrow nav_icon"></i>Maps</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="signup.html">SignUp</a>
                                </li>
                                <li>
                                    <a href="blank-page.html">Blank Page</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts</a>
                        </li>
                        <li>
                            <a href="#" class="chart11-nav"><i class="fa fa-list-ul nav_icon"></i>Extras<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="tables.html">Tables</a>
                                </li>
                                <li>
                                    <a href="404.html">404 Page</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--logo -->
            <div class="logo">
                <a href="../../../index.html"><h1>Ultra Modern</h1></a>
            </div>
            <!--//logo-->
            <div class="user-right">
                <div class="profile_details_left"><!--notifications of menu start -->
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <span class="prfil-img"><img src="../../../common/img/analyzer/images/a.png" alt=""> </span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="profile_medile"><!--notifications of menu start -->
            <ul class="nofitications-dropdown">
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span
                            class="badge">3</span></a>
                    <ul class="dropdown-menu anti-dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>You have 3 new messages</h3>
                            </div>
                        </li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/1.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet</p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li class="odd"><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/2.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/3.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all messages</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                            class="fa fa-bell"></i><span class="badge blue">3</span></a>
                    <ul class="dropdown-menu anti-dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>You have 3 new notification</h3>
                            </div>
                        </li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/2.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet</p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li class="odd"><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/1.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/3.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all notifications</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <!--toggle button start-->
            <div class="search-box">
                <form class="input">
                    <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search"
                           id="input-31">
                </form>
            </div>
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <div class="clearfix"></div>
            <!--toggle button end-->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <div id="page-wrapper">
        <div class="main-page">
            <!--buttons-->
            <div class="inbox-section">
                <h2>Mailbox</h2>
                <div class="inbox-grids">
                    <div class="col-md-3 inbox-grid">
                        <div class="grid-inbox">
                            <div class="inbox-top">
                                <div class="inbox-img">
                                    <img src="../../../common/img/analyzer/images/1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="inbox-text">
                                    <h5>Jonathan Smith</h5>
                                    <a href="mailto:Mail@example.com">Mail@example.com</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <a href="#" class="compose" data-toggle="modal" data-target="#myModal1">compose</a>
                            <div class="inbox-bottom">
                                <ul>
                                    <li><a href=""><i class="glyphicon glyphicon-inbox" aria-hidden="true"></i>
                                        inbox</a></li>
                                    <li><a href=""><i class="glyphicon glyphicon-send" aria-hidden="true"></i> Sent Mail</a>
                                    </li>
                                    <li><a href=""><i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>
                                        Important</a></li>
                                    <li><a href=""><i class="glyphicon glyphicon-new-window" aria-hidden="true"></i>
                                        Drafts </a></li>
                                    <li><a href=""><i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        Trash</a></li>
                                </ul>
                            </div>
                            <div class="lables">
                                <h4>LABELS</h4>
                                <ul>
                                    <li><a href=""><i class="fa fa-fw fa-circle-o text-muted icon-danger"></i>
                                        Urgent</a></li>
                                    <li><a href=""><i class="fa fa-fw fa-circle-o text-muted icon-warning"></i> Market
                                    </a></li>
                                    <li><a href=""><i class="fa fa-fw fa-circle-o text-muted icon-success"></i> Family
                                    </a></li>
                                    <li><a href=""><i class="fa fa-fw fa-circle-o text-muted icon-info"></i> Work</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="online">
                                <h4>BUDDY ONLINE</h4>
                                <ul>
                                    <li><a href=""><i class="span"></i> Jhone Doe <p>I do not think</p></a></li>
                                    <li><a href=""><i class="span1"></i> Sumon <p>Busy with coding</p></a></li>
                                    <li><a href=""><i class="span2"></i> Tawseef <p>I out of control</p></a></li>
                                    <li><a href=""><i class="span3"></i> Anjelina Joli <p>I do not think</p></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 inbox-grid1">
                        <form action="#" method="GET">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control1 input-search"
                                       placeholder="Search...">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit"><i
                                                class="fa fa-search"></i></button>
									</span>
                            </div><!-- Input Group -->
                        </form>
                        <div class="mailbox-content">
                            <div class="mail-toolbar clearfix">
                                <div class="float-left">
                                    <div class="btn btn_1 btn-default mrg5R">
                                        <i class="fa fa-refresh"> </i>
                                    </div>
                                    <div class="dropdown">
                                        <a href="#" title="" class="btn btn-default" data-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="fa fa-cog icon_8"></i>
                                            <i class="fa fa-chevron-down icon_8"></i>
                                            <div class="ripple-wrapper"></div>
                                        </a>
                                        <ul class="dropdown-menu float-right">
                                            <li>
                                                <a href="#" title="">
                                                    <i class="fa fa-pencil-square-o icon_9"></i>
                                                    Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    <i class="fa fa-calendar icon_9"></i>
                                                    Schedule
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    <i class="fa fa-download icon_9"></i>
                                                    Download
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#" class="font-red" title="">
                                                    <i class="fa fa-times" icon_9=""></i>
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="float-right">
                                    <span class="text-muted m-r-sm">Showing 20 of 346 </span>
                                    <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                                        <div class="btn-group">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false"><i class="fa fa-folder"></i> <span
                                                    class="caret"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><a href="#">Social</a></li>
                                                <li><a href="#">Forums</a></li>
                                                <li><a href="#">Updates</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Spam</a></li>
                                                <li><a href="#">Trash</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">New</a></li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                               aria-expanded="false"><i class="fa fa-tags"></i> <span
                                                    class="caret"></span></a>
                                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                                <li><a href="#">Work</a></li>
                                                <li><a href="#">Family</a></li>
                                                <li><a href="#">Social</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Primary</a></li>
                                                <li><a href="#">Promotions</a></li>
                                                <li><a href="#">Forums</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                        <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <table class="table">
                                <tbody>
                                <tr class="unread checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star icon-state-warning"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Google
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        12 march
                                    </td>
                                </tr>
                                <tr class="unread checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star icon-state-warning"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        02 march
                                    </td>
                                </tr>
                                <tr class="unread checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star icon-state-warning"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Adobe
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        8 march
                                    </td>
                                </tr>
                                <tr class="unread checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star icon-state-warning"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Apple
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        4 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Microsoft
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        1 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Microsoft
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        15 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Microsoft
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        16 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Microsoft
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        9 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star icon-state-warning"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Microsoft
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        16 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star icon-state-warning"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        10 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        14 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        11 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        20 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        25 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Twitter
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        26 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Twitter
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        28 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star icon-state-warning"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Twitter
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        06 march
                                    </td>
                                </tr>
                                <tr class="unread checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Twitter
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        8 march
                                    </td>
                                </tr>
                                <tr class="unread checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        10 march
                                    </td>
                                </tr>
                                <tr class="read checked">
                                    <td class="hidden-xs">
                                        <input type="checkbox" class="checkbox">
                                    </td>
                                    <td class="hidden-xs">
                                        <i class="fa fa-star"></i>
                                    </td>
                                    <td class="hidden-xs">
                                        Dropbox
                                    </td>
                                    <td>
                                        Nullam quis risus eget urna mollis ornare vel eu leo
                                    </td>
                                    <td>
                                        <i class="fa fa-paperclip"></i>
                                    </td>
                                    <td>
                                        16 march
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-section">

        <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">
            &#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
</div>
<!-- Classie -->
<script src="../js/classie.js"></script>
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };


    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>
<!-- Bootstrap Core JavaScript -->

<script type="text/javascript" src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
<!--scrolling js-->
<script src="../../../common/lib/jquery/js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>
<!--//scrolling js-->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="compose-grids">
                    <form>
                        <h3>New Message </h3>
                        <div class="form-group">
                            <input type="type" class="form-control" id="exampleInputPassword1" placeholder="To:">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Subject:">
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Register -->
</body>
</html>