<!DOCTYPE HTML>
<html>
<head>
    <title>validation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Ultra Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="../../../common/lib/bootstrap/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="../less/style.css" rel='stylesheet' type='text/css'/>
    <!-- font CSS -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- font-awesome icons -->
    <link href="../../../common/font/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js-->
    <script src="../../../common/lib/jquery/js/jquery.min.js"></script>
    <script src="../js/modernizr.custom.js"></script>
    <!--webfonts-->
    <link href='http://fonts.useso.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <!-- Metis Menu -->
    <script src="../js/metisMenu.min.js"></script>
    <script src="../js/custom.js"></script>
    <link href="../less/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
    <!--left-fixed -navigation-->
    <div class="sidebar" role="navigation">
        <div class="navbar-collapse">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right dev-page-sidebar mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar"
                 id="cbp-spmenu-s1">
                <div class="scrollbar scrollbar1">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="../../../index.html"><i class="fa fa-home nav_icon"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cogs nav_icon"></i>Components <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-book nav_icon"></i>Elements <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icon.html">Icon</a>
                                </li>
                            </ul>
                            <!-- /nav-second-level -->
                        </li>
                        <li>
                            <a href="widgets.html"><i class="fa fa-th-large nav_icon"></i>Widgets</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Forms<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="inputs.html">Inputs</a>
                                </li>
                                <li>
                                    <a href="validation.html">Form Validation</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="inbox.html">Inbox</a>
                                </li>
                                <li>
                                    <a href="inboxdetails.html">Inbox Details</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="maps.html"><i class="fa fa-location-arrow nav_icon"></i>Maps</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file-text-o nav_icon"></i>Pages<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="signup.html">SignUp</a>
                                </li>
                                <li>
                                    <a href="blank-page.html">Blank Page</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                        <li>
                            <a href="charts.html" class="chart-nav"><i class="fa fa-bar-chart nav_icon"></i>Charts</a>
                        </li>
                        <li>
                            <a href="#" class="chart11-nav"><i class="fa fa-list-ul nav_icon"></i>Extras<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="tables.html">Tables</a>
                                </li>
                                <li>
                                    <a href="404.html">404 Page</a>
                                </li>
                            </ul>
                            <!-- //nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- //sidebar-collapse -->
            </nav>
        </div>
    </div>
    <!--left-fixed -navigation-->
    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-left">
            <!--logo -->
            <div class="logo">
                <a href="../../../index.html"><h1>Ultra Modern</h1></a>
            </div>
            <!--//logo-->
            <div class="user-right">
                <div class="profile_details_left"><!--notifications of menu start -->
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <span class="prfil-img"><img src="../../../common/img/analyzer/images/a.png" alt=""> </span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">
                                    <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="profile_medile"><!--notifications of menu start -->
            <ul class="nofitications-dropdown">
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span
                            class="badge">3</span></a>
                    <ul class="dropdown-menu anti-dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>You have 3 new messages</h3>
                            </div>
                        </li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/1.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet</p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li class="odd"><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/2.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/3.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all messages</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                            class="fa fa-bell"></i><span class="badge blue">3</span></a>
                    <ul class="dropdown-menu anti-dropdown-menu">
                        <li>
                            <div class="notification_header">
                                <h3>You have 3 new notification</h3>
                            </div>
                        </li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/2.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet</p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li class="odd"><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/1.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li><a href="#">
                            <div class="user_img"><img src="../../../common/img/analyzer/images/3.png" alt=""></div>
                            <div class="notification_desc">
                                <p>Lorem ipsum dolor amet </p>
                                <p><span>1 hour ago</span></p>
                            </div>
                            <div class="clearfix"></div>
                        </a></li>
                        <li>
                            <div class="notification_bottom">
                                <a href="#">See all notifications</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <!--toggle button start-->
            <div class="search-box">
                <form class="input">
                    <input class="sb-search-input input__field--madoka" placeholder="Search..." type="search"
                           id="input-31">
                </form>
            </div>
            <button id="showLeftPush"><i class="fa fa-bars"></i></button>
            <div class="clearfix"></div>
            <!--toggle button end-->
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <div id="page-wrapper">
        <div class="main-page">
            <div class="validation-section">
                <h2>Form Validation</h2>
                <div class="col-md-6 validation-grid">
                    <h4><span>dynamic</span> Form</h4>
                    <div class="validation-grid1">
                        <div class="valid-top">
                            <form id="defaultForm" method="post" class="form-horizontal" action="inputs.html">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Username</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="username" autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Email address</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="email" autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Password</label>
                                    <div class="col-lg-5">
                                        <input type="password" class="form-control" name="password"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#defaultForm').formValidation({
                                        message: 'This value is not valid',
                                        icon: {
                                            valid: 'glyphicon glyphicon-ok',
                                            invalid: 'glyphicon glyphicon-remove',
                                            validating: 'glyphicon glyphicon-refresh'
                                        },
                                        fields: {
                                            username: {
                                                message: 'The username is not valid',
                                                validators: {
                                                    notEmpty: {
                                                        message: 'The username is required and can\'t be empty'
                                                    },
                                                    remote: {
                                                        url: 'remote2.php'
                                                    }
                                                }
                                            },
                                            email: {
                                                validators: {
                                                    notEmpty: {
                                                        message: 'The email address is required and can\'t be empty'
                                                    },
                                                    emailAddress: {
                                                        message: 'The input is not a valid email address'
                                                    },
                                                    remote: {
                                                        url: 'remote2.php'
                                                    }
                                                }
                                            },
                                            password: {
                                                validators: {
                                                    notEmpty: {
                                                        message: 'The password is required and can\'t be empty'
                                                    },
                                                    different: {
                                                        field: 'username',
                                                        message: 'The password can\'t be the same as username'
                                                    },
                                                    callback: {
                                                        callback: function (value, validator) {
                                                            // Check the password strength
                                                            if (value.length < 6) {
                                                                return {
                                                                    valid: false,
                                                                    message: 'The password must be more than 6 characters'
                                                                }
                                                            }

                                                            if (value === value.toLowerCase()) {
                                                                return {
                                                                    valid: false,
                                                                    message: 'The password must contain at least one upper case character'
                                                                }
                                                            }
                                                            if (value === value.toUpperCase()) {
                                                                return {
                                                                    valid: false,
                                                                    message: 'The password must contain at least one lower case character'
                                                                }
                                                            }
                                                            if (value.search(/[0-9]/) < 0) {
                                                                return {
                                                                    valid: false,
                                                                    message: 'The password must contain at least one digit'
                                                                }
                                                            }

                                                            return true;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <div class="valid-top1">
                            <form id="defaultForm" method="post" class="form-horizontal" action="inputs.html">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Textbox</label>
                                    <div class="col-lg-5">
                                        <input class="form-control" type="text" name="textbox[]"
                                               placeholder="Textbox #1"/>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default btn-sm addButton"
                                                data-template="textbox">Add
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group hide" id="textboxTemplate">
                                    <div class="col-lg-offset-3 col-lg-5">
                                        <input class="form-control" type="text"/>
                                    </div>
                                    <div class="col-lg-4">
                                        <button type="button" class="btn btn-default btn-sm removeButton">Remove
                                        </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Checkbox</label>
                                    <div class="col-lg-5">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="checkbox[]" value="Choice #1"/> Choice
                                                <button type="button" class="btn btn-default btn-sm addButton"
                                                        data-template="checkbox">Add
                                                </button>
                                            </label>
                                        </div>

                                        <div class="checkbox hide template" id="checkboxTemplate">
                                            <label>
                                                <input type="checkbox" value="1"/> <span class="lbl">Choice</span>
                                                <button type="button" class="btn btn-default btn-sm removeButton">
                                                    Remove
                                                </button>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Radio</label>
                                    <div class="col-lg-5">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="radio[]" value="Choice #1"/> Choice
                                                <button type="button" class="btn btn-default btn-sm addButton"
                                                        data-template="radio">Add
                                                </button>
                                            </label>
                                        </div>

                                        <div class="radio hide" id="radioTemplate">
                                            <label>
                                                <input type="radio" value="1"/> <span class="lbl">Choice</span>
                                                <button type="button" class="btn btn-default btn-sm removeButton">
                                                    Remove
                                                </button>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-3 col-lg-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript" src="../js/formValidation.js"></script>
                        <script type="text/javascript" src="../../../common/lib/bootstrap/js/bootstrap.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('.addButton').on('click', function () {
                                    var index = $(this).data('index');
                                    if (!index) {
                                        index = 1;
                                        $(this).data('index', 1);
                                    }
                                    index++;
                                    $(this).data('index', index);

                                    var template = $(this).attr('data-template'),
                                            $templateEle = $('#' + template + 'Template'),
                                            $row = $templateEle.clone().removeAttr('id').insertBefore($templateEle).removeClass('hide'),
                                            $el = $row.find('input').eq(0).attr('name', template + '[]');
                                    $('#defaultForm').formValidation('addField', $el);

                                    // Set random value for checkbox and textbox
                                    if ('checkbox' == $el.attr('type') || 'radio' == $el.attr('type')) {
                                        $el.val('Choice #' + index)
                                                .parent().find('span.lbl').html('Choice #' + index);
                                    } else {
                                        $el.attr('placeholder', 'Textbox #' + index);
                                    }

                                    $row.on('click', '.removeButton', function (e) {
                                        $('#defaultForm').formValidation('removeField', $el);
                                        $row.remove();
                                    });
                                });

                                $('#defaultForm')
                                        .formValidation({
                                            message: 'This value is not valid',
                                            icon: {
                                                valid: 'glyphicon glyphicon-ok',
                                                invalid: 'glyphicon glyphicon-remove',
                                                validating: 'glyphicon glyphicon-refresh'
                                            },
                                            fields: {
                                                'textbox[]': {
                                                    validators: {
                                                        notEmpty: {
                                                            message: 'The textbox field is required'
                                                        }
                                                    }
                                                },
                                                'checkbox[]': {
                                                    validators: {
                                                        notEmpty: {
                                                            message: 'The checkbox field is required'
                                                        }
                                                    }
                                                },
                                                'radio[]': {
                                                    validators: {
                                                        notEmpty: {
                                                            message: 'The radio field is required'
                                                        }
                                                    }
                                                }
                                            }
                                        })
                                        .on('err.field.fv', function (e, data) {
                                            //console.log('err.field.fv -->', data.element);
                                        })
                                        .on('success.field.fv', function (e, data) {
                                            //console.log('success.field.fv -->', data.element);
                                        })
                                        .on('added.field.fv', function (e, data) {
                                            //console.log('Added element -->', data.field, data.element);
                                        })
                                        .on('removed.field.fv', function (e, data) {
                                            //console.log('Removed element -->', data.field, data.element);
                                        });
                            });
                        </script>
                        <div class="valid-top2">
                            <form id="defaultForm" method="post" class="form-horizontal" action="target.php">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Username</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="username" autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Email </label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="email[]" autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Other email </label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="email[]" autocomplete="off"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Password</label>
                                    <div class="col-lg-5">
                                        <input type="password" class="form-control" name="password"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Retype password</label>
                                    <div class="col-lg-5">
                                        <input type="password" class="form-control" name="confirmPassword"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Website</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="website" placeholder="http://"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Phone number</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" name="phoneNumber"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Country</label>
                                    <div class="col-lg-5">
                                        <select class="form-control" name="country">
                                            <option value="">-- Select a country --</option>
                                            <option value="fr">France</option>
                                            <option value="de">Germany</option>
                                            <option value="it">Italy</option>
                                            <option value="jp">Japan</option>
                                            <option value="ru">Russia</option>
                                            <option value="gb">United Kingdom</option>
                                            <option value="us">United State</option>
                                            <option value="us">India</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-9 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        </section>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#defaultForm').formValidation({
                                    message: 'This value is not valid',
//        live: 'disabled',
                                    icon: {
                                        valid: 'glyphicon glyphicon-ok',
                                        invalid: 'glyphicon glyphicon-remove',
                                        validating: 'glyphicon glyphicon-refresh'
                                    },
                                    fields: {
                                        username: {
                                            message: 'The username is not valid',
                                            validators: {
                                                notEmpty: {
                                                    message: 'The username is required and can\'t be empty'
                                                },
                                                remote: {
                                                    type: 'POST',
                                                    url: 'remote.php',
                                                    message: 'The username is not available',
                                                    //delay: 1000
                                                }
                                            }
                                        },
                                        'email[]': {
                                            validators: {
                                                notEmpty: {
                                                    message: 'The email address is required and can\'t be empty'
                                                },
                                                emailAddress: {
                                                    message: 'The input is not a valid email address'
                                                },
                                                remote: {
                                                    type: 'POST',
                                                    url: 'remote.php',
                                                    message: 'The email is not available',
                                                    delay: 2000
                                                }
                                            }
                                        },
                                        password: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'The password is required and can\'t be empty'
                                                },
                                                different: {
                                                    field: 'username',
                                                    message: 'The password can\'t be the same as username'
                                                }
                                            }
                                        },
                                        confirmPassword: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'The confirm password is required and can\'t be empty'
                                                },
                                                identical: {
                                                    field: 'password',
                                                    message: 'The password and its confirm are not the same'
                                                }
                                            }
                                        },
                                        website: {
                                            validators: {
                                                uri: {
                                                    message: 'The input is not a valid URL'
                                                }
                                            }
                                        },
                                        phoneNumber: {
                                            validators: {
                                                digits: {
                                                    message: 'The value can contain only digits'
                                                }
                                            }
                                        },
                                        country: {
                                            validators: {
                                                notEmpty: {
                                                    message: 'The country is required and can\'t be empty'
                                                }
                                            }
                                        }
                                    }
                                }).on('err.field.fv', function (e, data) {
                                    console.log(data.field, data.validator);
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-6 validation-grid">
                <h4><span>User Assist </span> Elements</h4>
                <div class="vlid-grid2">
                    <form id="defaultForm" method="post" class="form-horizontal" action="inputs.html">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Full name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="firstName" placeholder="First name"/>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control last" name="lastName" placeholder="Last name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="username"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email address</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" name="password"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-6">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" value="male"/> Male
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" value="female"/> Female
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="gender" value="other"/> Other
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" id="captchaOperation"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="captcha"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="agree" value="agree"/> Agree with the terms and
                                        conditions
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary" name="signup" value="Sign up">Submit
                                </button>
                            </div>
                        </div>
                    </form>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            // Generate a simple captcha
                            function randomNumber(min, max) {
                                return Math.floor(Math.random() * (max - min + 1) + min);
                            };
                            $('#captchaOperation').html([randomNumber(1, 100), '+', randomNumber(1, 200), '='].join(' '));

                            $('#defaultForm').formValidation({
                                message: 'This value is not valid',
                                icon: {
                                    valid: 'glyphicon glyphicon-ok',
                                    invalid: 'glyphicon glyphicon-remove',
                                    validating: 'glyphicon glyphicon-refresh'
                                },
                                fields: {
                                    firstName: {
                                        row: '.col-sm-4',
                                        validators: {
                                            notEmpty: {
                                                message: 'The first name is required'
                                            }
                                        }
                                    },
                                    lastName: {
                                        row: '.col-sm-4',
                                        validators: {
                                            notEmpty: {
                                                message: 'The last name is required'
                                            }
                                        }
                                    },
                                    username: {
                                        message: 'The username is not valid',
                                        validators: {
                                            notEmpty: {
                                                message: 'The username is required'
                                            },
                                            stringLength: {
                                                min: 6,
                                                max: 30,
                                                message: 'The username must be more than 6 and less than 30 characters long'
                                            },
                                            regexp: {
                                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                                message: 'The username can only consist of alphabetical, number, dot and underscore'
                                            }
                                        }
                                    },
                                    email: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The email address is required'
                                            },
                                            emailAddress: {
                                                message: 'The input is not a valid email address'
                                            }
                                        }
                                    },
                                    password: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The password is required'
                                            },
                                            different: {
                                                field: 'username',
                                                message: 'The password cannot be the same as username'
                                            }
                                        }
                                    },
                                    gender: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The gender is required'
                                            }
                                        }
                                    },
                                    captcha: {
                                        validators: {
                                            callback: {
                                                message: 'Wrong answer',
                                                callback: function (value, validator, $field) {
                                                    var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                                                    return value == sum;
                                                }
                                            }
                                        }
                                    },
                                    agree: {
                                        validators: {
                                            notEmpty: {
                                                message: 'You must agree with the terms and conditions'
                                            }
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                    <div class="valid-top3">
                        <section>
                            <form id="defaultForm" method="post" class="form-horizontal" action="inputs.html">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">First name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="firstName"
                                               placeholder="First name"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Last name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="lastName"
                                               placeholder="Last name"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-3">
                                        <button type="submit" class="btn btn-primary">Validate</button>
                                    </div>
                                </div>
                            </form>
                            <section>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('#defaultForm').formValidation({
                                            err: {
                                                container: 'tooltip'
                                            },
                                            //        trigger: 'blur',
                                            icon: {
                                                valid: 'glyphicon glyphicon-ok',
                                                invalid: 'glyphicon glyphicon-remove',
                                                validating: 'glyphicon glyphicon-refresh'
                                            },
                                            fields: {
                                                firstName: {
                                                    validators: {
                                                        stringLength: {
                                                            enabled: false,
                                                            min: 4,
                                                            message: 'The first name must be more than 5 characters'
                                                        },
                                                        notEmpty: {
                                                            message: 'The first name is required'
                                                        },
                                                        regexp: {
                                                            enabled: true,
                                                            regexp: /^[a-z]+$/i,
                                                            message: 'The first name must consist of a-z, A-Z characters only'
                                                        }
                                                    }
                                                },
                                                lastName: {
                                                    validators: {
                                                        stringLength: {
                                                            min: 4,
                                                            message: 'The last name must be more than 5 characters'
                                                        },
                                                        notEmpty: {
                                                            message: 'The last name is required'
                                                        },
                                                        regexp: {
                                                            regexp: /^[a-z]+$/i,
                                                            message: 'The last name must consist of a-z, A-Z characters only'
                                                        }
                                                    }
                                                }
                                            }
                                        });
                                    });
                                </script>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="copy-section">

    <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">
        &#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</div>
</div>
<!-- Classie -->
<script src="../js/classie.js"></script>
<script>
    var menuLeft = document.getElementById('cbp-spmenu-s1'),
            showLeftPush = document.getElementById('showLeftPush'),
            body = document.body;

    showLeftPush.onclick = function () {
        classie.toggle(this, 'active');
        classie.toggle(body, 'cbp-spmenu-push-toright');
        classie.toggle(menuLeft, 'cbp-spmenu-open');
        disableOther('showLeftPush');
    };


    function disableOther(button) {
        if (button !== 'showLeftPush') {
            classie.toggle(showLeftPush, 'disabled');
        }
    }
</script>
<!-- Bootstrap Core JavaScript -->

<script type="text/javascript" src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
<!--scrolling js-->
<script src="../../../common/lib/jquery/js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>
<!--//scrolling js-->
</body>
</html>